body {
    background: linear-gradient(to bottom, rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.35) 100%), url('/background.jpg') repeat 0 0;
}

.toolbox {
    background-color: #fff;
}

.toolbox button {
    margin: 0 16px;
}

.map {
    top: 100px;
    left: 100px;
    position: absolute;
}

.object, .creature {
    position: absolute;
    transition: 0.1s;
}

.creature i {
    width: 32px;
    height: 42px;
}

.object i {
    width: 24px;
    height: 24px;
    opacity: 0.8;
}

.creature[type="Bug"] i {
    background: url('/bug.png') center / cover;
}

.creature[type="Gecko"] i {
    height: 64px;
    background: url('/gecko.png') center / cover;
}

.object[type="Stone"] i {
    background: url('/stone.png') center / cover;
}

.object[type="Grass"] i {
    background: url('/grass.png') center / cover;
}

.object[type="Apple"] i {
    background: url('/apple.png') center / cover;
}

.creature progress {
    display: block;
    max-width: 32px;
    max-height: 6px;
    background: limegreen;
}

.creature progress::-webkit-progress-bar {
    background: white;
}
